{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
        <div class="hero-wrap">
      <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(static/images/BG.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end">
              <div class="col-md-5 ftco-animate">
                <div class="text w-100">
                  <h1 class="mb-4" style="font-style: italic;font-family: verdana;font-size: 240%">LUMBAR SPINE DISEASES DIAGNOSING</h1>
                  <p style="font-family: verdana">"If you would seek health, look first to the spine" ~Socrates</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-item" style="background-image:url(static/images/BG3.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end">
              <div class="col-md-12 ftco-animate">
                <div class="text w-100">
                  <h1 class="mb-4" style="font-style: italic;font-family: verdana;font-size: 200%">SPINAL CARE FOR YOU</h1>
                  <p style="font-family: verdana">Convert your Dicom MRI's to JPEG.</p>
                  <p><a href="/convert" class="btn btn-primary col-md-2" style="font-family:bahnschrift;font-size: 80% ">Convert</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
      <div class="overlay"></div>
      <div class="container">
        <div class="row d-md-flex justify-content-center">
          <div class="col-md-12">
            <div class="wrap-appointment d-md-flex">
              <div class="col-md-8 bg-primary p-5 heading-section heading-section-white" style="font-family: bahnschrift">
                
                <br/>
                <h2 class="mb-4" style="font-size: 140%">FIVE WAYS TO KEEP YOUR SPINE HAPPY AND HEALTHY</h2>
                <ol class="text-white" style="font-size: 130%">
                  <li>Let your spine really rest while sleeping.</li>
                  <li>Excercise your core to strengthen abs and back mucscles.</li>
                  <li>Your shoes need to support your spine.</li>
                  <li>Enjoy benefits of massage.</li>
                  <li>Practice good ergonomics while sitting- and limit total sitting time.</li>
                </ol>
              </div>
              <div class="col-md-4 bg-white p-5" style="font-family: bahnschrift">
                <div class="desc border-bottom pb-4">
                  <h2>Diseases we diagnose</h2>
                    <div class="opening-hours">
                      
                      <h4>EndPlate Defect</h4>
                      <h4>Spondylolisthesis</h4>
                      <h4>Anterior Disc Buldging</h4>
                      <h4>Central Canal Stenosis</h4>
                    </div>
                </div>
                <div class="desc pt-4 ">
                  <h3 class="heading">For Contact</h3>
                  <span class="text">spinalcare@gmail.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
        <div class="row d-flex no-gutters">
          <div class="col-md-6 d-flex order-md-last">
            <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0" style="background-image:url(static/images/work-2.jpg);">
              <a href="https://www.youtube.com/watch?v=31RuBxzXhr0" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                <span class="fa fa-play"></span>
              </a>
            </div>
          </div>
          <div class="col-md-6 pr-md-5 py-md-5">
            <div class="row justify-content-start py-5">
              <div class="col-md-12 heading-section ftco-animate">
                <span class="subheading" style="font-size: 100%">LUMBAR SPINE DISEASES DIAGNOSING</span>
                <h2 class="mb-4" style="font-size: 150%">HOW WE DIAGNOSE</h2>
                <p style="font-size: 110%">We will take your MRI as an input and process it to obtain an diagnosed MRI. The diagnosed image will be marked with areas where you might have problems or might not.</p>
              </div>
            </div>
            <div class="row ftco-counter pb-5" id="section-counter">
              <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                </div>
              </div>
              <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                  <div class="text">
                    <strong class="number" data-number="60">0</strong>
                  </div>
                  <div class="text" style="font-family: verdana">
                    <span>Get Results <br>in 60 second</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading" style="font-size: 110%">Services We Offer</span>
            <h2>Our Benefits</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-chiropractic"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Spinal Diseases Diagnosing</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-electrotherapy"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">DICOM TO JEPG</h3>
              </div>
            </div>    
          </div>

          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-lymph-nodes"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Suggetions Regarding Diagnose</h3>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

    
    <br/>

   
    
{% endblock %} 